@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.hide-lg{
		display: none!important;
	}
	.show-lg{
		display: block!important;
	}
	h1{
		font-size: 47px;
	}
	h2{
		font-size: 38px;
	}
	h3{
		font-size: 34px;
	}
	h4{
		font-size: 29px;
	}

}

@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	h1{
		font-size: 42px;
	}
	h2{
		font-size: 37px;
	}
	h3{
		font-size: 33px;
	}
	h4{
		font-size: 28px;
	}
	
	
}

@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	h1{
		font-size: 40px;
	}
	h2{
		font-size: 36px;
	}
	h3{
		font-size: 32px;
	}
	h4{
		font-size: 27px;
	}
	h5{
		font-size: 21px;
	}
}

@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	h1{
		font-size: 38px;
	}
	h2{
		font-size: 34px;
	}
	h3{
		font-size: 30px;
	}
	h4{
		font-size: 25px;
	}
	h5{
		font-size: 20px;
	}

}

@media(max-width: 479px){


}

@media(max-width: 359px){

}